
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container my-3 "style="font-weight: bold;">
    <h2>Thanh toán thành công</h2>
    <a href="https://localhost:44312/">Mua thêm sản phẩm</a>
</div>


