<div class="listcategory mb-4">
    <div class="card" style="width: 100%;">
        <div class="card-header bd-green-500"style="font-weight: bold;">
            Bài viết mới
        </div>
        <div class="list-group-item">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <img src="#" class="img-fluid" alt="" srcset="" />
                </div>
                <div class="col-sm-8 pr-0 mr-0">
                    <h4 class="post-title my-2"style="font-weight: bold;">
                        <a href="~/tin-tuc">Tiêu đề bài viết</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
